<div id="search-container">
  <select #select id="category" class="form-control" (change)="changeCategory(select.value)">
    <option value="Livre">Livre</option>
    <option value="Jeu">Jeu</option>
  </select>
  <div class="input-group">
    <input #input type="text" class="form-control" placeholder="Rechercher...">
    <div class="input-group-btn">
      <button class="btn btn-danger" type="button" (click)="clickReset()">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
        </div>
  </div>
</div>